.message {
  display: flex;
  align-items: center;
}

.message p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: justify;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.chatArea {
  height: 100%;
  width: 100%;
  padding: 16px;
  overflow-y: scroll;
}

.message-input {
  resize: none;
  padding: 8px 10px;
  font-size: 17px;
  position: absolute;
  width: 50%;
  bottom: 0;
  margin-left: 12.5%;
}

.message-input-area {
  border-radius: 20px;
  width: 100%;
}
