body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .site-layout-content {
  padding: 24px;
  width: 100%;
  height: 100%;
} */

.site-layout-background {
  background: white;
}

.site-layout .site-layout-background {
  background: #fff;
}

.align-tweets {
  margin: 0 6%;
  text-align: left;
}

.align-middle {
  margin: 0 25%;
  padding: 0;
}

.ant-comment-content-author-name a:hover {
  text-decoration: underline;
}

.navbar--search {
  padding-top: 12px;
}
